$bg: #262a2b;
$green: #333;
$yellow: #333;
$red: #333;

$input-color: #262a2b;
$item-color: #1d1f22;
$font-color: #fbfafb;

$big-font-size: 64px;
$heading-font-size: 38px;
$item-font-size: 40px;
$button-size: 28px;

@keyframes click {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 48px;
    height: 48px;
  }
}
